@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');


body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  width: 100%;
  height: 100px;
  background-color: black;
  position: fixed;
}

.container1{
  margin: auto;
  width: 70%;
  min-width: 50%;
  height: 100px;
  align-items: center;
  display:flex;
  justify-content: space-between;
  flex-direction: row;
}
.rpl {
  margin-left: 30px;
}

.rp{
  margin-right: 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
  font-size: 14px;
  font-weight: bold;
}

.rp a:hover{
  color:  #cf2020;
}

.rpl a{
  color: white;
  text-decoration: none;
}

.rp a{
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

.btn{
  width: 190px;
  height: 45px;
  font-size: 15px;
  font-weight: 900;
  background-color: #cf2020;
  color: white;
  transition: .3s;
  margin-left: 10px;
  border: none;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #fff;
  transition: ease-out 0.3s;
  outline: none;
}

.btn:hover{
  color: #cf2020;
  box-shadow: inset 190px 0 0 0 #fff;
  border: none;
  cursor: pointer;
}

.container-principal{
  height: auto;
  width: 100%;
}


.pone{
  background: url(https://redplayofficial.com.br/img/redplaybackground.jpg);
  height: 961px;
}

.one{
  /*border: 1px solid;*/
  
  padding-top: 150px;
  color: white;
  width: 70%;
  margin: auto;
  height: 646px;
  
}

.one1{
  height: 646px;
  width: 47%;
  float: left;
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.txt{
  text-align: center;
}

.txt h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  line-height: 66px;
}

.txt h2{
  color: #f8b600;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 800;
  font-size: 36px;
}

.txtp h1{
  margin-top: -100px;
  color: #cf2020;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 900;
  font-size: 60px;
}

.txtp p{
  font-size: 20px;
  margin-top: -30px;
  font-weight: 900;
}

.txtb{  
  border: 1px solid;  
  width: 150px;
  height: 61px;
  line-height: 61px;
  text-align: center;
  border-radius: 10px;
  background-color: #cf2020;
  border: none;
  margin-top: -90px;
  
}

.txtb:hover{
  background-color: white;
}

.txtb a{
  text-decoration: none;
  color: white;
  font-weight: 900;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.txtb input{
  background-color: #cf2020;
  color: white;
  width: 160px;
  height: 61px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  font-weight: 900;
  box-shadow: inset 0 0 0 0 #fff;
  transition: ease-out 0.3s;
}

.txtb input:hover{
  cursor: pointer;
  color: #cf2020;
  box-shadow: inset 160px 0 0 0 #fff;
}


.one2{
  height: 646px;
  width: 47%;
  float: right;
  align-items: center;
  display: flex;
  justify-content: center;
}

.one2 img{
  width: 736px;
  margin-top: 50px;
}


#two{
  background-color: #ffff;
  height: auto;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.two-container{
  width: 70%;
  height: auto;
  margin-top: 110px;
}

.container-title{
  height: 181px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.container-title span{
  color: #cf2020;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 900;
  font-size: 25px;
}

.container-title h1{
  font-weight: 900;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 45px;
}

.container-conteudo{
    /*width: 40%;*/
    height: auto;
    align-items: center;
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    margin-bottom: 50px;
}

.container-conteudo2{
  /*width: 40%;*/
  margin-top: 50px;
  margin-bottom: 50px;
  height: auto;
  align-items: center;
  display: flex;
  justify-content:space-around;
  flex-direction: row;
}

.container-conteudo3{
  /*width: 40%;*/
  margin-top: 50px;
  margin-bottom: 50px;
  height: auto;
  align-items: center;
  display: flex;
  justify-content:space-around;
  flex-direction: row;
}

.cards{
    border-radius: 5px;
    height: 761px;
    width: 30%;
    box-shadow: 0 16px 40px rgba(153, 153, 153, 0.315);
    align-items: center;
    display: flex;
    justify-content:center;
    flex-direction: column;
}


.cards h2{
    color: #F9B800;
    font-family: sans-serif;
    margin-top: -px;
    margin-bottom: 50px;
}

.cards h3{
    font-size: 45px;
    font-weight: 900;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.cards p{
    color: #AAAAAA;
    font-size: 18px;
    font-weight: 600;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: -10px;
}

.cards a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 10px;
    background-color: #cf2020;
    width: 160px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #ffff;
    margin-top: 10px;
    transition: .2s;
    box-shadow: inset 0 0 0 0 #fff;
    transition: ease-out 0.3s;
    box-sizing: border-box;
    
}

.cards a:hover{
    box-shadow: inset 160px 0 0 0 #fff;
    transition: .3s;
    color: black;
    border: 2px solid #cf2020;
    line-height: 56px;
    
}

.cards:hover{
  box-shadow: 4px 24px 40px rgba(116, 37, 37, 0.315);
  transition: .3s;
}

#three{
  width: 100%;
  height: auto;
}

.conteudo-three{
  width: 70%;
  height: 656px;
  margin: auto;
  padding-top: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.cont-three-left{
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.cont{
  display: flex;
  align-items:baseline;
  justify-content:baseline;
  flex-direction: column;
}

.cont span{
  font-size: 25px;
  font-weight: 600;
  color: #cf2020;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cont h1{
  font-size: 45px;
  font-weight: 700;
  color: #263238;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cont p{
  font-size: 18px;
  font-weight: 400;
  color: #AAAAAA;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cont-three-right{
  width: 50%;
}

.cont-three-right img{
  width: 636px;
  height: 506px;
  margin: 30px;
  box-shadow: #AAAAAA;
}

#four{
  width: 100%;
  height: auto;
}

.conteudo-four{
  width: 70%;
  height: 656px;
  padding-top: 150px;
  margin: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.cont-four-left{
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.cont-four-left img{
  width: 621px;
  height: 544px;
  margin: 30px;
  border-radius: 5px;
}


.contp{
  width: 80%;
  margin-left: 20%;
  display: flex;
  align-items:flex-start ;
  justify-content: end;
  flex-direction: column;
}

.contp span{
  font-size: 25px;
  font-weight: 600;
  color: #cf2020;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contp h1{
  font-size: 45px;
  font-weight: 700;
  color: #263238;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contp p{
  font-size: 18px;
  font-weight: 400;
  color: #AAAAAA;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cont-four-right{
  width: 50%;
  margin-top: -100px;
}

.not{
  display: inline-flex;
  align-items: center;
  height: 20px;
}

.not h5{
  font-size: 20px;
  font-weight: 700;
  color: #263238;
  margin-right: 20px;
}

.not-i i{
  top: -1px;
  color: #f8b600;
  font-size: 20px;
}

.contp-btn-p{
  display:inline-flex;
  align-items:baseline;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
}

.contp-btn-large{
  display: flex;
  align-items:baseline;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
}

.contp-btn3{
  background-color: #cf2020;
  width: 100%;
  height: 102px;
  margin-top: 15px;
  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.contp-btn3 h3{
  text-align: center;
  margin-top: 13px;
  margin-bottom: -1px;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

.contp-btn3 h5{
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  margin-top: -1px;
}

.link-txt{
  margin-top: 10px;
}


.contp-btn{
  background-color: #cf2020;
  border: 2px solid #cf2020;
  width: 160px;
  height: 60px;
  margin-top: 20px;
  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contp-btn a:hover{
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: inset 360px 0 0 0 #fff;
}

.contp-btn a:hover i{
  color: #cf2020;
}

.contp-btn a:hover p{
  color: #cf2020;
}

.contp-btn a:hover h1{
  color: #cf2020;
}

.contp-btn2{
  border: 2px solid #ff5f10;
  background-color: #ff5f10;
  width: 160px;
  height: 60px;
  margin-top: 10px;
  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  outline: none;
}

.contp-btn2 p{
  margin-top: 3px;
  font-size: 10px;
  color: #fff;
}

.contp-btn2 h1{
  font-size: 16px;
  color: #fff;
  margin-top: -5px;
}

.contp a{
  text-decoration: none;
}

.contp-btn2 a:hover{
  position: relative;
  background-color: #fff;
  border: #ff5f10;
  border-radius: 5px;
  box-shadow: inset 360px 0 0 0 #fff;
}

.contp-btn2 a:hover i{
  color: #ff5f10;
}

.contp-btn2 a:hover p{
  color: #ff5f10;
}

.contp-btn2 a:hover h1{
  color: #ff5f10;
}

.link-apps{
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items:center;
}

.link-txt{
  margin-left: 10px;
}

.link-txt h1{
  margin-left: 10px;
}

.link-icon{
  color: #fff;
}

.contp-btn p{
  margin-top: 3px;
  font-size: 10px;
  color: #fff;
}

.contp-btn h1{
  font-size: 16px;
  color: #fff;
  margin-top: -5px;
}

/*
.contp a:hover{
  box-shadow: inset 160px 0 0 0 #fff;
  transition: .3s;
  color: black;
  border: 2px solid #cf2020;
  line-height: 56px;
  position: relative;
}
*/

#five{
  width: 100%;
  height: auto;  
}

.cont-five-top{
  width: 70%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: -30px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cont-five-top span{
  font-size: 25px;
  font-weight: 900;
  color: #cf2020;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cont-five-top h1{
  font-size: 45px;
  font-weight: 700;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.conteudo-five{
  width: 70%;
  height: auto;
  margin: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}


.cont-five-left{
  width: 50%;
  height: 100%;
  align-items:baseline;
  justify-content: baseline;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 25%;
}

.cont{
  width: 100%;
  display: flex;
  align-items:baseline;
  justify-content:baseline; 
}


.cont-five{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  flex-direction: row;
}

.cont-five button{
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
  background-color: #fff;
  box-shadow: 0 0 3px 0 #AAAAAA;
  outline: none;
  cursor: pointer;
  border: none;
}

.cont-five:hover h1{  
  color: #cf2020;
}

.cont-five h1{
  font-size: 18px;
  font-weight: 700;
  color: #263238;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cont span{
  font-size: 25px;
  font-weight: 600;
  color: #cf2020;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cont h1{
  font-size: 45px;
  font-weight: 700;
  color: #263238;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cont p{
  font-size: 18px;
  font-weight: 400;
  color: #AAAAAA;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cont-five-right{
  width: 50%;
}

.cont-five-right img{
  width: 636px;
  height: 506px;
  margin: 30px;
  box-shadow: #AAAAAA;
}



footer{
  height: 50px;
  background-color: black;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}

.rodape{
  margin: auto;
  width: 70%;
  padding-top: 1px;
  text-align: center; 
}
